<body bgcolor="green">3
<h1><center>BOOM!</center></h1>
<h1><center>POW!</center></h1>
<center><%= @game.player_1.name.capitalize %> attacked <%= @game.player_2.name.capitalize %></
center>
<center> WHAT A DOUCHE </center>
<center><a href="/play">Revenge</a></center>
