<h1><center>BOOM!</center></h1>
<h1><center>POW!</center></h1>
<center><%= @player_1.name.capitalize %> attacked <%= @player_2.name.capitalize %></
center>
<center> WHAT A DOUCHE </center>
<center><a href="/play">Revenge</a></center>
